<h4>Add your doses</h4>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
  <%= f.input :description %>
  <%= f.submit "Add your dose", class: "btn btn-primary" %>
<% end %>
